<h1>CONTACT</h1>
<div class="containerContact">
  <form action="action_page.php">

    <label class="Name" for="fname">Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name">
    <label class="email" for="fname">Email</label>
    <input type="text" id="email" name="firstname" placeholder="Enter email">

      <label class="subject" for="subject">Subject</label>
    <textarea class="textarea" id="subject" name="subject" placeholder="Write something.." style="height:150px"></textarea>

    <input class="submit" type="submit" value="Submit">

  </form>
</div>
