<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="home" class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a routerLink="about" class="nav-link" href="#">About<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a routerLink="contact" class="nav-link" href="#">Contact<span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <div class="searchCon" (click)="toggleOptions()">
    <form class="form-inline my-2 my-lg-0">
      <input [(ngModel)]="search" (keydown.arrowDown)="filteredOptions"  class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>

  </div>
  <div class="options" *ngIf="block">
    <div class="options-title-box" *ngFor="let option of filteredOptions;" [routerLink]="option.path" (click)="toggleOptionsOff()">
      {{option.title}}
    </div>
  </div>


</nav>
<router-outlet></router-outlet>
<footer>© Copyright Jaroslav Havrda</footer>
